.header-pg {
	margin: 0;
	padding: 0;
	align-content: center;
	justify-content: center;
	text-align: center;
}

.header-img {
	max-width: 100%;
	margin:auto;
	max-height:150px;
}
.header-img-in {
	max-width: 100%;
	margin:auto;
}