.pet-nav {
	max-width: 100%;
	height: 60px;
	margin-left: 0;
	margin-right: 0;
	padding:10px;
	align-items: center;
	justify-content: center;
	font-size: 1.5em;
}

.flag {
	padding-top: 10px;
	margin: -2px;
}
