/* .container {
	position: absolute;
	margin-top: 650px;
	left: 0;
	right: 0;
	//bottom: 0;
	padding: 50px;
	margin-bottom: 300px;
} */
.en-sign {
	text-align: left;
	align-content: center;
	justify-content: center;
	margin: 2em;
	font-size: smaller;
}

.es-sign {
	text-align: left;
	align-content: center;
	justify-content: center;
	margin: 2em;
	font-size: smaller;
}

.nl-sign {
	text-align: left;
	align-content: center;
	justify-content: center;
	margin: 2em;
	font-size: smaller;
}

.fr-sign {
	text-align: left;
	align-content: center;
	justify-content: center;
	margin: 2em;
	font-size: smaller;
}