<div *ngIf="isDataLoaded">
	<div class="welcome">
		<h1 [translate]="'home.welcome'"></h1>
		<h3 [translate]="'home.subwelcome'"></h3>
	</div>
	<div class="kit-list" *ngIf="isUserLoaded && connectedUserData.kits.items.length != 0">
		<h5 [translate]="'home.kits.list'"></h5>
		<table class="table table-striped table-hover table-sm table-responsive-sm">
			<thead class="thead-light">
				<tr>
					<th [translate]="'home.table.kitid'"></th>
					<th [translate]="'home.table.kittype'"></th>
					<th [translate]="'home.table.kitstatus'"></th>
					<th [translate]="'home.table.petname'"></th>
					<th style="text-align: center; vertical-align: middle;" [translate]="'home.table.report'"></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of connectedUserData.kits.items">
					<td>{{item.kitBatchNb}}</td>
					<td>{{item.kitType}}</td>
					<td>
						<ng-template [ngIf]="item.reportFile" [ngIfElse]="noreport">
							<span [translate]="'home.table.kitprocessed'"></span>
						</ng-template>
						<ng-template #noreport>
							<span [translate]="'home.table.kitregistered'"></span>
						</ng-template>
					</td>
					<td>{{item.petName}}</td>
					<td style="text-align: center; vertical-align: middle;">
						<ng-template [ngIf]="item.reportFile" [ngIfElse]="noreportdl">
							<button (click)="dlfile(item.reportFile)" class="btn btn-primary btn-dl"
								type="button" [translate]="'home.table.dlpdf'"></button>
						</ng-template>
						<ng-template #noreportdl [translate]="'home.table.noreport'">
						</ng-template>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="content">
		<div class="card mb-3">
			<div class="row no-gutters g-0 btn-wrapping">
				<div class="col-md-4 col-sm-12 button-card d-flex align-items-center shadow-none border-0">
					<a href="register" class="btn home-button btn-lg register-button" role="button" aria-pressed="true"
						[translate]="'home.register'"></a>
				</div>
				<div class="col-md-7 col-sm-12">
					<div class="card-body">
						<p class="card-text" [translate]="'home.register.sub'"></p>
					</div>
				</div>
			</div>
		</div>
		<div class="card mb-3">
			<div class="row no-gutters btn-wrapping">
				<div class="col-md-4 col-sm-12 button-card d-flex align-items-center">
					<button (click)="dlpublicfile('mock')" class="btn home-button btn-lg other-button" type="button"
						[translate]="'home.reportEx'"></button>
				</div>
				<div class="col-md-7 col-sm-12">
					<div class="card-body">
						<p class="card-text" [translate]="'home.reportEx.sub'"></p>
					</div>
				</div>
			</div>
		</div>
		<div class="card mb-3">
			<div class="row no-gutters g-0 btn-wrapping">
				<div class="col-md-4 col-sm-12 button-card d-flex align-items-center">
					<a href="https://petgenoma.com" class="btn home-button btn-lg other-button" role="button"
						aria-pressed="true" [translate]="'home.more'"></a>
				</div>
				<div class="col-md-7 col-sm-12">
					<div class="card-body">
						<p class="card-text" [translate]="'home.more.sub'"></p>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="quote">
		<p><em [translate]="'home.quote'"></em></p>
	</div>
</div>