.welcome {
	width: 100%;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 100px;
}

.content {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 125px;
	margin-bottom: 100px;
}

.quote {
	right: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 50px;
}

.home-button {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: 100px;
	align-items: center !important;
	justify-content: center;
	align-content: center;
}

.button-card {
	width: 100%;
	text-align: center;
}

.btn-wrapping {
	flex-wrap: nowrap !important;
}

.card {
	border: none;
}

.kit-list {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.register-button {
	background-color: #e6335c;
	color: white;
	text-align: center !important;
	align-items: center !important;
	justify-content: center !important;
}

.other-button {
	background-color: #57c4d6;
	color: white;
	text-align: center !important;
	align-items: center !important;
	justify-content: center !important;
}

.btn-dl {
	background-color: #57c4d6;
	border-color: #57c4d6;
	align-content: center;
}

td {
	vertical-align: middle;
}