<div class="title">
	<h1 [translate]="'register.title'"></h1>
</div>

<mdb-tabs class="title">
  <mdb-tab [title]="translateText('register.userinfo')">
	<form #registerUserForm="ngForm" (ngSubmit)="saveUser()">
		<div class="form-row registerKit">
			<label class="col-md-5 col-sm-12 registerKit" for="firstname">{{'register.firstname' | translate}}</label>
			<input type="text" class="col-md-5 col-sm-12 form-control registerKit" id="firstname"
				aria-describedby="kitIdHelp" placeholder="" [(ngModel)]="user.firstname" name="firstname" required>
		</div>
		<div class="form-row registerKit">
			<label class="col-md-5 col-sm-12 registerKit" for="lastname">{{'register.lastname' | translate}}</label>
			<input type="text" class="col-md-5 col-sm-12 form-control registerKit" id="lastname"
				aria-describedby="kitIdHelp" placeholder="" [(ngModel)]="user.lastname" name="lastname" required>
		</div>
		<div class="form-row registerKit">
			<label class="col-md-5 col-sm-12 registerKit" for="street">{{'register.street' | translate}}</label>
			<input type="text" class="col-md-5 col-sm-12 form-control registerKit" id="street" aria-describedby="kitIdHelp"
				placeholder="" [(ngModel)]="user.street" name="street" required>
		</div>
		<div class="form-row registerKit">
			<label class="col-md-5 col-sm-12 registerKit" for="city">{{'register.city' | translate}}</label>
			<input type="text" class="col-md-5 col-sm-12 form-control registerKit" id="city" aria-describedby="kitIdHelp"
				placeholder="" [(ngModel)]="user.city" name="city" required>
		</div>
		<div class="form-row registerKit">
			<label class="col-md-5 col-sm-12 registerKit" for="postalCode">{{'register.postalcode' | translate}}</label>
			<input type="text" class="col-md-5 col-sm-12 form-control registerKit" id="postalCode"
				aria-describedby="kitIdHelp" placeholder="" [(ngModel)]="user.postalCode" name="postalCode" required>
		</div>
		<div class="form-row registerKit">
			<label class="col-md-5 col-sm-12 registerKit" for="country">{{'register.country' | translate}}</label>
			<input type="text" class="col-md-5 col-sm-12 form-control registerKit" id="country" aria-describedby="kitIdHelp"
				placeholder="" [(ngModel)]="user.country" name="country" required>
		</div>
		<div class="form-row registerKit">
			<label class="col-md-5 col-sm-12 registerKit" for="phoneNb">{{'register.telephone' | translate}}</label>
			<input type="text" class="col-md-5 col-sm-12 form-control registerKit" id="phoneNb" aria-describedby="kitIdHelp"
				placeholder="" [(ngModel)]="user.phoneNb" name="phoneNb" required>
		</div>
		<div class="form-row registerKit">
			<label class="col-md-5 col-sm-12 registerKit" for="email">{{'register.email' | translate}}</label>
			<input type="text" class="col-md-5 col-sm-12 form-control registerKit" id="email" aria-describedby="kitIdHelp"
				placeholder="" [(ngModel)]="user.email" name="email" required>
		</div>
		<div>
			<button type="submit" [disabled]="!registerUserForm.valid" class="submit-btn btn btn-warning"
				[translate]="'register.user.button'"></button>
		</div>
	</form>
  </mdb-tab>

  <mdb-tab [title]="translateText('register.doginfo')">
	<table class="table table-striped table-hover table-sm table-responsive-sm table-add">
		<thead class="thead-light">
		  <tr>
			<th>{{'register.dog.name' | translate}}</th>
			<th>{{'register.dog.breed' | translate}}</th>
			<th>{{'register.dog.gender' | translate}}</th>
			<th>{{'register.dog.age' | translate}}</th>
			<th>{{'register.dog.microchip' | translate}}</th>
			<th>{{'register.dog.conditions' | translate}}</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let dog of dogs">
			<td>{{ dog.name }}</td>
			<td>{{ dog.breed }}</td>
			<td>{{ dog.gender }}</td>
			<td>{{ dog.age }}</td>
			<td>{{ dog.microchip }}</td>
			<td>{{ dog.conditions }}</td>
		  </tr>
		</tbody>
	</table>

	<button type="button" class="btn btn-warning btn-add" [translate]="'register.adddog.button'" (click)="adddogclick();" *ngIf="!adddog"></button>

	<form #registerDogForm="ngForm" (ngSubmit)="saveDog()" *ngIf="adddog">
	<div class="form-row registerKit">
		<label class="col-md-5 col-sm-12 registerKit" for="name">{{'register.dog.name' | translate}}</label>
		<input type="text" class="col-md-5 col-sm-12 form-control registerKit" id="name" aria-describedby="kitIdHelp"
			placeholder="" [(ngModel)]="dog.name" name="name" required>
		<!-- [pattern]="kitNamePattern" #kitIdName="ngModel"> -->
	</div>
	<div class="form-row registerKit">
		<label class="col-md-5 col-sm-12 registerKit" for="breed">{{'register.dog.breed' | translate}}</label>
		<input type="text" class="col-md-5 col-sm-12 form-control registerKit" id="breed" aria-describedby="kitIdHelp"
			placeholder="" [(ngModel)]="dog.breed" name="breed" required>
		<!-- [pattern]="kitNamePattern" #kitIdName="ngModel"> -->
	</div>
	<div class="form-row registerKit">
		<label class="col-md-5 col-sm-12 registerKit" for="gender">{{'register.dog.gender' | translate}}</label>
		<input type="text" class="col-md-5 col-sm-12 form-control registerKit" id="gender" aria-describedby="kitIdHelp"
			placeholder="" [(ngModel)]="dog.gender" name="gender" required>
		<!-- [pattern]="kitNamePattern" #kitIdName="ngModel"> -->
	</div>
	<div class="form-row registerKit">
		<label class="col-md-5 col-sm-12 registerKit" for="age">{{'register.dog.age' | translate}}</label>
		<input type="text" class="col-md-5 col-sm-12 form-control registerKit" id="age" aria-describedby="kitIdHelp"
			placeholder="" [(ngModel)]="dog.age" name="age" required>
		<!-- [pattern]="kitNamePattern" #kitIdName="ngModel"> -->
	</div>
	<div class="form-row registerKit">
		<label class="col-md-5 col-sm-12 registerKit" for="microchip">{{'register.dog.save.microchip' | translate}} </label>
		<input type="text" class="col-md-5 col-sm-12 form-control registerKit" id="microchip"
			aria-describedby="kitIdHelp" placeholder="" [(ngModel)]="dog.microchip" name="microchip" required>
		<!-- [pattern]="kitNamePattern" #kitIdName="ngModel"> -->
	</div>
	
	<div class="form-row registerKit">
		<label class="col-md-5 col-sm-12 registerKit" for="conditions">{{'register.dog.save.diseases' | translate}} </label>
		<input type="text" class="col-md-5 col-sm-12 form-control registerKit" id="conditions"
			aria-describedby="kitIdHelp" placeholder="" [(ngModel)]="dog.conditions" name="conditions" required>
		<!-- [pattern]="kitNamePattern" #kitIdName="ngModel"> -->
	</div>
	<div>
		<button type="submit" [disabled]="!registerDogForm.valid" class="submit-btn btn btn-warning"
			[translate]="'register.dog.button'"></button>
		<button type="button" (click)="cancelDog()" class="submit-btn btn btn-warning"
			[translate]="'register.dog.cancel'"></button>
	</div>
	</form>
  </mdb-tab>

  <mdb-tab [title]="translateText('register.kitinfo')">
	<!-- TODO: registering kit not possible if no dog registered-->
	<table class="table table-striped table-hover table-sm table-responsive-sm table-add">
		<thead class="thead-light">
		  <tr>
			<th>{{'register.kit.id' | translate}}</th>
			<th>{{'register.kit.collectiondate' | translate}}</th>
			<th>{{'register.kit.petname' | translate}}</th>
			<th>{{'register.kit.type' | translate}}</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let kit of kits">
			<td>{{ kit.kitBatchNb }}</td>
			<td>{{ kit.collectionDate }}</td>
			<td>{{ kit.petName }}</td>
			<td>{{ kit.kitType }}</td>
		  </tr>
		</tbody>
	</table>

	<button type="button" class="btn btn-warning btn-add" [translate]="'register.addkit.button'" (click)="addkitclick();" *ngIf="!addkit"></button>

	<form #registerKitForm="ngForm" (ngSubmit)="saveKit()" *ngIf="addkit">
		<div class="form-row registerKit">
			<label class="col-md-5 col-sm-12 registerKit" for="kitBatchNb">{{'register.kit.collectionNb' | translate}}</label>
			<input type="text" class="col-md-5 col-sm-12 form-control registerKit" id="kitBatchNb" aria-describedby="kitIdHelp"
				placeholder="XX00000000" [(ngModel)]="kit.kitBatchNb" name="kitId" required [pattern]="kitNamePattern"
				#kitIdName="ngModel">
			<span class="warning-message registerKit col-md-3 col-sm-12" *ngIf="kitIdName.errors?.required"
				[translate]="'register.error.kitID'">* </span>
			<span class="warning-message registerKit col-md-3 col-sm-12" *ngIf="kitIdName.errors?.pattern"
				[translate]="'register.error.kitFormat'">* </span>
		</div>
	<div class="form-row registerKit">
		<label class="col-md-5 col-sm-12 registerKit" for="collectionDate">{{'register.kit.collectionDate' | translate}} </label>
		<input type="text" class="col-md-5 col-sm-12 form-control registerKit" id="collectionDate"
			aria-describedby="kitIdHelp" placeholder="" [(ngModel)]="kit.collectionDate" name="collectionDate" required>
		<!-- [pattern]="kitNamePattern" #kitIdName="ngModel"> -->
	</div>
	
	<!-- TODO: make a select from dog list-->
	<div class="form-row registerKit">
		<label class="col-md-3 col-sm-12 registerKit" for="petName" [translate]="'register.petname'"></label>
		<select class="col-md-5 col-sm-12 form-control registerKit" id="petName" [(ngModel)]="idDogSelected"
			name="petName">
			<option *ngFor="let dog of dogs" [value]="dog.id"> {{dog.name}}</option>
			<!--<option value="Health & Breed" [translate]="'register.healthbreed'"></option>-->
		</select>
		<!--<input type="text" class="col-md-5 col-sm-12 form-control registerKit" id="petName"
			aria-describedby="petNameHelp" [(ngModel)]="kit.petName" name="petName" required #petNameValid="ngModel">
		<span class="warning-message registerKit col-md-3 col-sm-12" *ngIf="petNameValid.errors?.required"
			[translate]="'register.error.petName'">* </span>-->
	</div>

	<div class="form-row registerKit">
		<label class="col-md-5 col-sm-12 registerKit" for="kitType">{{'register.kit.kitType' | translate}}</label>
		<select class="col-md-5 col-sm-12 form-control registerKit" id="kitType" [(ngModel)]="kit.kitType"
			name="kitType">
			<option value="Health" [translate]="'register.health'"></option>
			<!--<option value="Health & Breed" [translate]="'register.healthbreed'"></option>-->
		</select>
	</div> 

	<!-- <div class="form-row registerKit">
		<label class="col-md-3 col-sm-12 registerKit" for="vetName" [translate]="'register.veterinary'"></label>
		<input type="text" class="col-md-5 col-sm-12 form-control registerKit" id="vetName"
			aria-describedby="vetNameHelp" [(ngModel)]="kit.vetName" name="vetName" required #vetNameValid="ngModel">
	</div> -->
	<div>
		<button type="submit" [disabled]="!registerKitForm.valid" class="submit-btn btn btn-warning"
			[translate]="'register.kit.button'"></button>
		<button type="button" (click)="cancelKit()" class="submit-btn btn btn-warning"
			[translate]="'register.kit.cancel'"></button>
	</div>
	</form>
  </mdb-tab>
</mdb-tabs>


