.title {
	width: 100%;
	margin-top: 25px;
	margin-bottom: 50px;
}

.registerKit {
	text-align:left;
	margin-top: 20px;
	align-items:center;
}

.warning-message {
	text-align: left;
	color:red;
	align-items:center;
}

.submit-btn {
	margin-top: 30px;
	margin-bottom: 30px;
	width: 200px;
}